<div class="row">
	<div class="col-sm-4"
		data-ng-repeat="reservation in custGAR_Vm.reservations">
		<div class="thumbnail">
			<img data-ng-src="images/table{{reservation.tid}}.jpg"
				alt="{{reservation.tid}}">
			<div class="caption">

				<p>
					<strong>Reservation Number:</strong> {{reservation.rid}}
				</p>
				<p>
					<strong>Table Number:</strong> {{reservation.tid}}
				</p>
				<p>
					<strong>Date:</strong> {{reservation.date}}
				</p>
				<p>
					<strong>Confirmation code:</strong>
					{{reservation.confirmationCode}}
				</p>
				<button class="btn btn-success btn-sm _acc_btn" data-ng-click="openEditModal1(reservation.rid, reservation.tid)">Edit</button>
				<button class="btn btn-danger btn-sm _acc_btn" data-ng-click="openDeleteModal1(reservation.rid, reservation.tid)">Delete</button>
			</div>
		</div>
	</div>
</div>


    