<ul class="nav nav-pills nav-stacked _max_height ">
	<li role="presentation"
		data-ng-class="{active: $route.current.activetab == 'view'}"><a
		href="/RRS-Rest/staff.html#/View-Reservations">View All
			Reservations</a></li>
	<li role="presentation"
		data-ng-class="{active: $route.current.activetab == 'add'}"><a
		href="/RRS-Rest/staff.html#/Add-Reservation">Add Reservation</a></li>
	<li role="presentation"
		data-ng-class="{active: $route.current.activetab == 'customerlist'}"><a
		href="/RRS-Rest/staff.html#/Customer-List">Customer List</a></li>
</ul>